<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pawkey's place</title>
    <script src="javascript.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h1>PawKey's place</h1>
    <span id="outputDate"></span>
    <a href="/home"
      ><img class="picture" src="logo.png" alt="This is a logo picture"
    /></a>
  </body>
</html>
