<%- include('partial/header') %>
<main>
  <div id="menu" class="menu">
    <a href="/home">Home</a>
    <hr class="thinLine" />
    <a href="/find">Find a dog/cat</a>
    <hr class="thinLine" />
    <a href="/dog">Dog Care</a>
    <hr class="thinLine" />
    <a href="/cat">Cat Care</a>
    <hr class="thinLine" />
    <a href="/giveawaylogin"> Have a pet to give away</a>
    <hr class="thinLine" />
    <a href="/contact">Contact Us</a>
    <hr class="thinLine" />
    <a href="/create">Create an account</a>
    <hr class="thinLine" />
    <a href="/logout">Log Out</a>
  </div>

  <div id="catContent" class="content">
    <h2>Cat Care</h2>
    <ul>
      <li>Feed your cat a balanced diet</li>
      <li class="indent">
        Feed your cat a balanced diet appropriate for their age, size, and
        breed. Consult with your veterinarian to determine the best food and
        feeding schedule for your cat.
      </li>
      <li>Provide fresh water at all times</li>
      <li class="indent">
        Make sure your cat always has access to clean, fresh water.
      </li>
      <li>Provide a clean litter box</li>
      <li class="indent">
        Make sure your cat's litter box is clean and in a quiet, private
        location.
      </li>
      <li>Provide a scratching post</li>
      <li class="indent">
        Cats need to scratch to keep their claws healthy. Provide a scratching
        post or pad for your cat to use.
      </li>
      <li>Provide toys and playtime</li>
      <li class="indent">
        Cats need mental and physical stimulation to stay healthy and happy.
        Provide toys and playtime for your cat.
      </li>
      <li>Regular vet check-ups</li>
      <li class="indent">
        Regular veterinary care is essential to keep your cat healthy. Make sure
        your cat gets regular check-ups and vaccinations.
      </li>
      <li>Keep your cat indoors</li>
      <li class="indent">
        Keep your cat indoors to protect them from dangers such as cars,
        predators, and diseases.
      </li>
    </ul>
    <br />
    <br />
    <div><u>Reference:</u></div>
    <ul>
      <li style="text-decoration: none">
        <a href="https://www.aspca.org/pet-care/cat-care"
          >https://www.aspca.org/pet-care/cat-care</a
        >
      </li>
      <li style="text-decoration: none">
        <a href="https://www.petfinder.com/cats/cat-care/cat-care-tips/">
          https://www.petfinder.com/cats/cat-care/cat-care-tips/
        </a>
      </li>
    </ul>
  </div>
</main>
<%- include('partial/footer') %>
