<%- include('partial/header') %>
<main>
  <div id="menu" class="menu">
    <a href="/home">Home</a>
    <hr class="thinLine" />
    <a href="/find">Find a dog/cat</a>
    <hr class="thinLine" />
    <a href="/dog">Dog Care</a>
    <hr class="thinLine" />
    <a href="/cat">Cat Care</a>
    <hr class="thinLine" />
    <a href="/giveawaylogin"> Have a pet to give away</a>
    <hr class="thinLine" />
    <a href="/contact">Contact Us</a>
    <hr class="thinLine" />
    <a href="/create">Create an account</a>
    <hr class="thinLine" />
    <a href="/logout">Log Out</a>
  </div>
  <div id="contactUs" class="content">
    <h2>Contact Us</h2>
    <p class="contact">
      Name: Lan Thi Duong<br />
      Student ID: 40276821<br />
      Email: lanthiduong31@gmail.com<br />
      Phone: 123456789<br />
    </p>
  </div>
</main>
<%- include('partial/footer') %>
