<%- include('partial/header') %>
<main>
  <div id="menu" class="menu">
    <a href="/home">Home</a>
    <hr class="thinLine" />
    <a href="/find">Find a dog/cat</a>
    <hr class="thinLine" />
    <a href="/dog">Dog Care</a>
    <hr class="thinLine" />
    <a href="/cat">Cat Care</a>
    <hr class="thinLine" />
    <a href="/giveawaylogin"> Have a pet to give away</a>
    <hr class="thinLine" />
    <a href="/contact">Contact Us</a>
    <hr class="thinLine" />
    <a href="/create">Create an account</a>
    <hr class="thinLine" />
    <a href="/logout">Log Out</a>
  </div>

  <div id="dogContent" class="content">
    <div class="instructions dog">
      <h2>Dog Care</h2>
      <ul class="ordered">
        <li>Provide Proper Nutrition</li>
        <li class="indent">
          Feed your dog a balanced diet appropriate for their age, size, and
          breed. Consult with your veterinarian to determine the best food and
          feeding schedule for your dog.
        </li>
        <li>Provide fresh water at all times</li>
        <li class="indent">
          Make sure your dog always has access to clean, fresh water.
        </li>
        <li>Provide regular exercise</li>
        <li class="indent">
          Regular exercise is important for your dog's physical and mental
          health. Make sure your dog gets plenty of exercise every day.
        </li>
        <li>Provide regular veterinary care</li>
        <li class="indent">
          Regular veterinary care is essential to keep your dog healthy. Make
          sure your dog gets regular check-ups and vaccinations.
        </li>
        <li>Keep your dog clean</li>
        <li class="indent">
          Regular grooming is important to keep your dog clean and healthy. Make
          sure your dog gets regular baths, nail trims, and ear cleanings.
        </li>
        <li>Keep your dog safe</li>
        <li class="indent">
          Make sure your dog is safe at all times. Keep your dog on a leash when
          outside, and make sure your yard is secure.
        </li>
        <li>Keep your dog happy</li>
        <li class="indent">
          Make sure your dog gets plenty of love and attention. Spend time
          playing with your dog, and make sure your dog has plenty of toys to
          keep them entertained.
        </li>
      </ul>
      <br />
      <br />
      <div><u>Reference:</u></div>
      <ul>
        <li style="text-decoration: none">
          <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care"
            >https://www.aspca.org/pet-care/dog-care/general-dog-care</a
          >
        </li>
        <li style="text-decoration: none">
          <a
            href="https://www.akc.org/expert-advice/health/how-to-take-care-of-a-dog/"
            >https://www.akc.org/expert-advice/health/how-to-take-care-of-a-dog/</a
          >
        </li>
        <li style="text-decoration: none">
          <a href="https://www.humanesociety.org/resources/how-care-your-dog"
            >https://www.humanesociety.org/resources/how-care-your-dog</a
          >
        </li>
      </ul>
    </div>
  </div>
</main>
<%- include('partial/footer') %>
