<%- include('partial/header') %>
<main>
  <div id="menu2" class="menu2">
    <a href="/home">Home</a>
    <hr class="thinLine" />
    <a href="/find">Find a dog/cat</a>
    <hr class="thinLine" />
    <a href="/dog">Dog Care</a>
    <hr class="thinLine" />
    <a href="/cat">Cat Care</a>
    <hr class="thinLine" />
    <a href="/giveawaylogin"> Have a pet to give away</a>
    <hr class="thinLine" />
    <a href="/contact">Contact Us</a>
    <hr class="thinLine" />
    <a href="/create">Create an account</a>
    <hr class="thinLine" />
    <a href="/logout">Log Out</a>
  </div>

  <div class="image">
    <img
      class="homePicture"
      src="puppykitten.jpeg"
      alt="This is a puppy and kitten image"
    />
    <div id="homeContent" class="content">
      <h2 style="text-align: left">Welcome to Pawkey's Place</h2>
      <br />
      <p>
        Welcome to Pawkey's Place, where tails wag and purrs abound! We're
        thrilled to invite you into our world of furry friends and feathered
        companions. At Pawkey's Place, we're more than just a store – we're a
        community, where the bond between humans and animals is celebrated every
        day.
        <br />
        <br />
        <br />
        With our user-friendly interface, you can easily browse through profiles
        of lovable pets waiting to find their forever homes. Whether you're
        searching for a playful puppy, a cuddly kitten, or a loyal adult
        companion, we've got a diverse range of pets just waiting to join your
        family.
        <br />
        <br />
        <br />
        Our resources also cover dog and cat care tips and training advice. We
        also provide a platform for pet owners who, due to unforseen
        circumstances, need to rehome their pets. Our approach allows users to
        give away pets to individuals or families who can provide them with care
        and attention.
      </p>
      <br />
      <br />
      <br />
      <br />
      <br />
      <p id="privacy" style="font-size: 15px">
        *Privacy/Disclaimer Statement: your information will not be sold or
        misued. The information provided on this website is for general
        informational purposes only.
      </p>
    </div>
  </div>
</main>
<%- include('partial/footer') %>
