<%- include('partial/header') %>
<main>
  <div id="menu" class="menu">
    <a href="/home">Home</a>
    <hr class="thinLine" />
    <a href="/find">Find a dog/cat</a>
    <hr class="thinLine" />
    <a href="/dog">Dog Care</a>
    <hr class="thinLine" />
    <a href="/cat">Cat Care</a>
    <hr class="thinLine" />
    <a href="/giveawaylogin"> Have a pet to give away</a>
    <hr class="thinLine" />
    <a href="/contact">Contact Us</a>
    <hr class="thinLine" />
    <a href="/create">Create an account</a>
    <hr class="thinLine" />
    <a href="/logout">Log Out</a>
  </div>
  <h2>Log out sucessfully</h2>
</main>
<%- include('partial/footer') %>
